<p id="notice"><%= notice %></p>

<p>
  <h1><%= @exercise.name %></h1>
  
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>
<p>
<strong>Instructions:</strong>
  <%= @exercise.instructions %>
</p>
<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Workout:</strong>
  <% if @exercise.workout.nil? %> 
	Not specified
  <% else %> 
  <%= @exercise.workout_id %>
  <% end %> 
</p>

<%= link_to 'Edit', edit_category_exercise_path(@category, @exercise) %> |
<%= link_to 'Back', category_exercises_path %>
